@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    @apply bg-gray-900 text-gray-400 relative;
}

a {
  @apply text-purple-400 hover:text-purple-300 transition-colors duration-200 cursor-pointer;
}

.headroom {
  @apply bg-gray-900;
}

*::-webkit-scrollbar {
  display: none;
}

.square {
  width: 100%;
  padding-bottom: 100%;
}